@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@300&family=Baloo+2:wght@500;700&display=swap');



div {
    font-family: 'Assistant', sans-serif;
    margin: 0;
    font-size: 1rem;
    line-height: 1.5;
    color: #292b2c;
    background-color: #3B0548;
  }

.title {
    color: #fff;
    font-size: 1.5rem;
}

p {
    font-family: 'Baloo 2', cursive;
    color: #D32E6B;
    font-size: 1.1rem;
    text-align: center;
    font-weight: 700;
    margin-left: 5%;
    margin-right: 5%;
}
img {
    max-width: 60%;
}
h4 {

    font-family: 'Assistant', sans-serif;
    color: #fff;
    font-size: large;
    padding-left: 5%;
    padding-right: 5%;

}

.projects-images {
    padding: 15px;
    display: flex;
}


.subtitle {
    color: #fff;
    font-family: 'Assistant', sans-serif;
    font-size: 1.6rem;
}

.contactusBtn {
    font-family: 'Baloo 2', cursive;
    font-size: 1.5rem;
    font-weight: 800;
    color: #3B0548;
    background: #D32E6B;
	border-color: #D32E6B;
	border-style: solid; 
    border-top-left-radius:25px;  
    border-top-right-radius:25px;  
    border-bottom-right-radius:25px;  
    border-bottom-left-radius:25px;
    margin-bottom: 10%;
    padding-left: 2%;
    padding-right: 2%;
}
